    -- Create the stories table
    create table stories (
    id uuid default gen_random_uuid() primary key,
    user_id uuid references auth.users(id) on delete cascade,
    child_name text not null,
    child_age int not null,
    condition text not null,
    language text not null check (language in ('kz', 'ru', 'en')),
    title text,
    chapters jsonb default '[]',
    -- chapters: [{ title, text, illustration_prompt, illustration_url }]
    medical_note text,
    created_at timestamp default now()
    );

    -- Enable Row Level Security
    alter table stories enable row level security;

    -- Create policy to allow users to see only their own stories
    create policy "Users see own stories" on stories
    for all using (auth.uid() = user_id);

    -- Create analytics view
    create view analytics as
    select condition, language,
            count(*) as total,
            date_trunc('day', created_at) as day
    from stories
    group by condition, language, day;
